body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  width:max-content;
  margin: auto;
}

nav {
  width:100%;
  display: flex;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.login-form .MuiTextField-root {
  width: 100%;
}

.login-form .MuiButton-root {
  width: 100%;
}

.login-form a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {
  .login-form {
      padding: 20px;
  }
}


.transaction-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.transaction-table th, .transaction-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.transaction-table th {
  background-color: #f4f4f4;
}

